 @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

/* Estilos CSS para o seu site */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 136, 0, 0.466);
}

header {
    background-color: #165;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .3);
}

section {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

h2 {
    color: #333333;
}

ul.product-list {
    list-style-type: none;
    padding: 0;
    display: flex; /* Exibe os produtos em uma linha */
    flex-wrap: wrap; /* Quebra para a próxima linha quando não há espaço suficiente */
    justify-content: space-between; /* Espaço entre os produtos */
}

li.product {
    display: inline-block;
    width: calc(100% - 14px); /* Largura para dois produtos em uma linha com espaço */
    margin-bottom: 20px;
    box-sizing: border-box; /* Inclui margens no tamanho total */
}

button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    width: 190px;
    height: 55px;
    background: #c40094;border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-variant-ligatures: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 3s;
}